2 Ancient Crab
1 Angler Drake
1 Cursed Minotaur
1 Dune Beetle
2 Essence Scatter
2 Essence Scatter
1 Fling
1 Giant Spider
3 Graceful Cat
1 Gravedigger
1 Hyena Pack
2 Impeccable Timing
1 Mighty Leap
2 Rhonas's Monument
1 Sixth Sense
1 Spidery Grasp
2 Tattered Mummy
2 Life Goes On
4 Unsummon
1 Anointed Deacon
1 Bonded Horncrest
1 Brazen Buccaneers
1 Burning Sun's Avatar
1 Cobbled Wings
1 Costly Plunder
1 Deadeye Plunderers
1 Deathless Ancient
2 Deeproot Waters
1 Dire Fleet Hoarder
1 Encampment Keeper
1 Favorable Winds
1 Field of Ruin
1 Firecannon Blast
2 Headwater Sentries
1 Hierophant's Chalice
1 Ixalli's Keeper
1 Jade Guardian
2 Merfolk Branchwalker
1 Pirate's Cutlass
1 Pounce
1 Queen's Agent
1 Queen's Agent
1 Queen's Bay Soldier
1 Ravenous Daggertooth
1 Ritual of Rejuvenation
1 River's Rebuke
1 Sanctum Seeker
2 Shore Keeper
1 Siren Lookout
1 Siren Stormtamer
1 Slash of Talons
1 Spell Pierce
1 Spreading Rot
1 Storm Fleet Pyromancer
1 Storm Fleet Spy
1 Swashbuckling
4 Tempest Caller
1 Tilonalli's Knight
1 Trove of Temptation
1 Vanquish the Weak
3 Vineshaper Mystic
1 Wily Goblin
1 Wind Strider
1 Arborback Stomper
1 Brazen Scourge
1 Cowl Prowler
2 Essence Extraction
1 Flame Lash
2 Inspired Charge
1 Nimble Innovator
1 Renegade Tactics
1 Terrain Elemental
2 Terror of the Fairgrounds
1 Wind Drake
1 Alley Strangler
1 Bastion Enforcer
1 Dawnfeather Eagle
2 Druid of the Cowl
2 Frontline Rebel
1 Hungry Flames
3 Shock
1 Wrangle
2 Admiral's Order
2 Aquatic Incursion
1 Bishop of Binding
1 Blazing Hope
1 Blood Sun
2 Bombard
1 Brazen Freebooter
1 Cleansing Ray
2 Colossal Dreadmaw
1 Crested Herdcaller
1 Curious obsession
1 Daring Buccaneer
1 Dark Inquiry
1 Dinosaur Hunter
2 Dusk Legion Zealot
1 Evolving Wilds
1 Famished Paladin
1 Fathom Fleet Boarder
1 Forerunner of the Empire
1 Forerunner of the Heralds
3 Goblin Trailblazer
1 Golden Demise
1 Grasping Scoundrel
2 Hardy Veteran
1 Imperial Ceratops
4 Jade Bearer
1 Jadecraft Artisan
3 Jungleborn Pioneer
1 Jungleborn Pioneer
1 Kitesail Corsair
1 Kitesail Corsair
3 Knight of the Stampede
2 Legion Conquistador
2 Luminous Bonds
2 Mausoleum Harpy
1 Merfolk Mistbinder
2 Mist-Cloaked Herald
2 Naturalize
1 Negate
2 Orazca Relic
2 Overgrown Armasaur
1 Plummet
1 Pride of Conquerors
1 Protean Raider
1 Ravenous Chupacabra
2 Recover
2 River Darter
1 Riverwise Augur
1 Sanguine Glorifier
1 Sea Legs
1 Seafloor Oracle
2 Secrets of the Golden City
1 Silvergill Adept
1 Snubhorn Sentry
1 Soul of the Rapids
1 Squire's Devotion
1 Strength of the Pack
1 Sun-Collared Raptor
2 Sun-Crested Pterodon
1 Swaggering Corsair
1 Thrashing Brontodon
1 Traveler's Amulet
1 Vampire Revenant
1 Voracious Vampire
1 Waterknot
1 Woodland Stream
1 Zetalpa, Primal Dawn
1 Air Elemental
1 Bloodhunter Bat
1 Bloodhunter Bat
2 Certain Death
2 Coral Merfolk
2 Divine Verdict
1 Drag Under
1 Drag Under
2 Falkenrath Reaver
1 Garruk's Horde
2 Glory Seeker
1 Inspiration
1 Nightmare
1 Oakenform
2 Rabid Bite
1 Raise Dead
2 Rootwalla
1 Sengir Vampire
1 Serra Angel
1 Shivan Dragon
1 Sleep Paralysis
1 Sleep Paralysis
1 Sphinx of Magosi
1 Stalking Tiger
1 Stampeding Rhino
2 Standing Troops
1 Stealer of Secrets
1 Stormfront Pegasus
1 Thundering Giant
1 Tricks of the Trade
1 Tricks of the Trade
2 Untamed Hunger
1 Victory's Herald
1 Wing Snare
8 Forest
8 Island
1 Plains
1 Swamp
